ErrorDocument 404 /404.php

RewriteEngine on

# Remove trailing slashes
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.+)/$ $1 [R=301,L]

RewriteRule ^content/(.*)$ /content/$1
RewriteRule ^data/(.*)$ /data/$1
RewriteRule ^userdata/(.*)$ /userdata/$1

# Main rule for all categories
RewriteRule ^([a-z]+)$ /category.php?category=$1

# A set of rules for old PHP files
# FIXME(mvel) this does not work: rewriting with parameters
#RewriteRule ^algebra.php?(.*) /category.php?category=algebra&$1
RewriteRule ^algebra.php /category.php?category=algebra
RewriteRule ^books.php /category.php?category=books
RewriteRule ^calculus.php /category.php?category=calculus
RewriteRule ^ccalculus.php /category.php?category=ccalculus
RewriteRule ^de.php /category.php?category=de
RewriteRule ^fcalculus.php /category.php?category=fcalculus
RewriteRule ^geometry.php /category.php?category=geometry
RewriteRule ^links.php /category.php?category=links
RewriteRule ^logic.php /category.php?category=logic
RewriteRule ^mechanics.php /category.php?category=mechanics
RewriteRule ^metacourse.php /category.php?category=metacourse
RewriteRule ^misc.php /category.php?category=misc
RewriteRule ^nt.php /category.php?category=nt
RewriteRule ^physics.php /category.php?category=physics
RewriteRule ^prog.php /category.php?category=prog
RewriteRule ^ptms.php /category.php?category=ptms
RewriteRule ^rcalculus.php /category.php?category=rcalculus
RewriteRule ^tex.php /category.php?category=tex
RewriteRule ^varcalculus.php /category.php?category=varcalculus
RewriteRule ^wanted.php /category.php?category=wanted
