body {
	font-family: Verdana, Arial, 'Sans Serif';
	font-size: 9pt;
}
.PlainText {
	font-size: 9pt;
	color: #a6b7c9;
	text-align: justify;
}
.PlainTextFP {
	font-size: 10pt;
	color: #a6b7c9;
	text-align: justify;
}
td.footer {
	text-align: center;
	width: 50%;
	font-size: 9pt;
}
p {
	font-size: 9pt;
	text-align: justify;
}
p.Subtitle {
	font-weight: bold;
	font-size: 12pt;
	color: #ff9933;
	font-family: Tahoma, Arial;
	text-align: center;
}
.Info {
	color: #00ff00;
}
a {
	text-decoration: none;
}
a:link	 {color: #e3af7c}   
a:visited{color: #e3af7c}
a:hover	{color: #ff5050}  
a:active {color: #ff5050} 

a.left {
	font-size: 9pt;
	/*font-family: Verdana, Arial;*/
	height: 12pt;
	line-height: 12pt;
	text-decoration: none;
	display: block;
	color: #000000;
	text-indent: 2px;
	margin: 1px 1px 0px 1px;
}

a.left:link{color: #000000}
a.left:visited{color: #000000}
a.left:hover{color: #000000}
a.left:active{color: #000000}

a.mcolors1 {background-color: #7b97b6}
a.mcolors1:hover {background-color: #c6d7e9}
a.mcolors2 {background-color: #5b7796}
a.mcolors2:hover {background-color: #c6d7e9}
a.mcolors3 {background-color: #6b87b6}
a.mcolors3:hover {background-color: #c6d7e9}
a.mselected {background-color: #8b7796}
a.mselected:hover {background-color: #c6d7e9}

td.TopTbl {
	font-weight: bold;
	font-size: 12pt;
	color: #ff9933;
	font-family: Tahoma, Verdana;
	text-align: center;
}
td.PlainTitle {
	font-weight: bold;
	font-size: 11pt;
	color: #e3af7c;
	font-family: Tahoma, Verdana;
	height: 25pt;
	vertical-align: bottom;
}
td.Admin {
	color: #dddddd;
}
td.AdminComment {
	color: #dddd77;
}
td.MenuText {
	font-size: 9pt;
	color: #a6b7c9;
}
td.News {
	font-size: 8pt;
	color: #a6b7c9;
	text-align: left;
}
td.LUpd {
	font-size: 9pt;
	color: #008f8f;
	height: 9pt;
}
td.InForm {
	font-size: 12px;
	color: #a6b7c9;
}
.Bold
{
	font-weight: bold;
}
.Red {
	color: #ff0000;
}
td.Labels {
	font-weight: bold;
	width: 150px;
}
td.ForumF {
	font-size: 10pt;
	color: #a6b7c9;
	font-family: Verdana, Arial;
	text-align: justify;
	background-color: #063562;
}
td.ForumC {
	font-size: 10pt;
	color: #a6b7c9;
	text-align: center;
}
td.ForumB {
	font-size: 10pt;
	color: #a6b7c9;
	font-weight: bold;
}
img {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
img.MessageIcon {
	padding-top: 1px;
	margin-bottom: -3px;
	width: 16px;
	height: 16px;
}
input {
	font-size: 12px;
	color: #000000;
	font-family: Verdana, Arial;
	background-color: #b0c0d0;
	border: 1px solid #000000;
	width: 300px;
	height: 20px;
}
input.txtForum {
	width: 550px;
}
input.subSubmit {
	font-size: 9pt;
	background-color: #8b7796;
	border: 1px solid #000000;
	width: 210px;
	height: 24px;
}
input.subMenu {
	font-size: 9pt;
	background-color: #8b7796;
	border: 1px solid #000000;
	width: 190px;
	height: 24px;
}	
textarea {
	font-size: 12px;
	background: #b0c0d0;
	color: #000000;
	font-family: Verdana, Arial, Courier New Cyr;
	width: 700px;
	height: 150;
	border: 1px solid #000000;
}
select {
	background-color: #b0c0d0;
	border: 1px solid #7f7f9f;
}
select.Menu {
	width: 190px;
}
select.Codepage {
	width: 120px;
}
img.icon {
	border: 0px;
	padding: 0px;
	margin: 0px;
	margin-bottom: -3px;
}
img.Smile {
	margin-bottom: -2px;
	width: 15px;
	height: 15px;
}
img.SmileTop {
	padding: 8px;
	width: 15px;
	height: 15px;
}